@import "tailwindcss";
@theme {
  --color-primary: #4f46e5;
  --color-secondary: #efedec;
  --color-accent: #7d5438;
  --color-primary2: #e2d6c3;
  --color-darkAccent: #4d2b24;
  /* Nested group (optional) */
  --color-dark-100: #1f2937;
  --color-dark-200: #111827;
}

html, body {
  overscroll-behavior: none;
  height: 100%;
}
body.lock-scroll {
  overflow: hidden !important;
}


.alex {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.marcellus {
  font-family: "Marcellus", serif;
  font-weight: 300;
  font-style: normal;
}


.poiret {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.nautigal-regular {
  font-family: "The Nautigal", cursive;
  font-weight: 400;
  font-style: normal;
}

.nautigal-bold {
  font-family: "The Nautigal", cursive;
  font-weight: 700;
  font-style: normal;
}

.bellefair {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}


.great {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


